In [1]:
import pandas as pd
import numpy as np

In [8]:
games_df = pd.read_json("purchase_data.json")
#games_df.head()
unique_df =games_df.drop_duplicates("SN")
#games_df.dtypes
unique_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [10]:
#games_df["Age"].loc[games_df["Gender"] == "Female"]

In [11]:
#games_df[(games_df["Item Name"] == "Final Critic")| (games_df["Item Name"] == "Arcane Gem")|
     #(games_df["Item Name"] == "Betrayal, Whisper of Grieving Widows") | 
      #(games_df["Item Name"] == "Stormcaller")|(games_df["Item Name"] == "Woeful Adamantite Claymore")]

# Player Count

In [16]:
unique_players_count = len(games_df["SN"].unique())
unique_players_count

573

In [17]:
unique_players = games_df["SN"].unique()
unique_g = []

In [18]:
len(games_df["Item ID" ].unique())

183

In [20]:
pd.DataFrame({"Total Numbers of Players":[len(unique_players)]}, index = np.arange(0, 1))

   Total Numbers of Players
0                       573

# Purchasing Analysis (Total)

In [21]:
unique_items = [len(unique_df["Item ID" ].unique())]

In [22]:
pd.DataFrame({"Unique Items": unique_items, "Average Price":round(games_df["Price"].mean(), 2), 
            "Total Number of Purchases":len(games_df["Price"]), 
            "Total Revenue": sum(games_df["Price"])},
            index = np.arange(0,1))

   Average Price  Total Number of Purchases  Total Revenue  Unique Items
0           2.93                        780        2286.33           179

# Gender Demographics

In [23]:
unique_df["Gender"].value_counts()

Male                     465
Female                   100
Other / Non-Disclosed      8
Name: Gender, dtype: int64

In [24]:
#len(games_df["Gender"] == "Other / Non-Disclosed")

In [25]:
males_percent = round(len(unique_df[unique_df["Gender"] == "Male"])/ len(unique_df["Gender"]) *100)
female_percent = round(len(games_df[games_df["Gender"] == "Female"])/ len(games_df["Gender"]) *100)
Non_Disclosed = round(len(games_df[games_df["Gender"] == "Other / Non-Disclosed"])/ len(games_df["Gender"]) *100)

In [26]:
#games_df["SN"].unique()

In [27]:
male_count = len(unique_df[unique_df["Gender"] == "Male"])
female_count = len(unique_df[unique_df["Gender"] == "Female"])
Non_Disclosed_other = len(unique_df[unique_df["Gender"]== "Other / Non-Disclosed"])

In [28]:
pd.DataFrame({"Percentage Of Players": [ males_percent, female_percent,Non_Disclosed ], 
              "Count":[ male_count, female_count, Non_Disclosed_other ]}, 
             index =['Male', "Female", "Non-disclosed/Other"] )

                     Count  Percentage Of Players
Male                   465                     81
Female                 100                     17
Non-disclosed/Other      8                      1

# Purchasing Analysis (Gender)
### The below each broken by gender

In [29]:
male_df = games_df[games_df["Gender"] == "Male"]
female_df = games_df[games_df["Gender"] == "Female"]
other_df = games_df[games_df["Gender"] == "Other / Non-Disclosed"]

#### Purchase Count

In [30]:
male_purchase_count = len(male_df)
female_purchase_count = len(female_df)
other_purchase_count = len(other_df)

In [31]:
Purchase_Count = len(male_df)

#### Average Purchase Price

In [32]:
male_average = round(male_df["Price"].mean(), 2)
female_average = round(female_df["Price"].mean(), 2)
other_average = round(other_df["Price"].mean(), 2)

#### Total Purchase Value

In [33]:
male_tpv = round(male_df["Price"].sum(), 2)
female_tpv = round(female_df["Price"].sum(), 2)
other_tpv = round(other_df["Price"].sum(), 2)

#### Normalized Totals

In [34]:
male_norm = round(male_tpv/male_purchase_count , 2)
female_norm = round(female_tpv/female_purchase_count, 2)
other_norm = round(other_tpv/other_purchase_count, 2)

In [35]:
pd.DataFrame({"Purchase Count": [" ", male_purchase_count, female_purchase_count, other_purchase_count],
             "Average Purchase Price":[" ", male_average, female_average, other_average],
             "Total Purchase Value": [" ", male_tpv, female_tpv, other_tpv], 
                "Normalized Totals":[" ", male_norm,female_norm, other_norm ]
              }, 
             index = ["Gender", 'Male', "Female", "Non-disclosed/Other"])

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
Gender,,,,
Male,2.95,2.95,633,1867.68
Female,2.82,2.82,136,382.91
Non-disclosed/Other,3.25,3.25,11,35.74

# Age Demographics

In [36]:
games_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [37]:
ages_10 = games_df[games_df["Age"] <=10]

ages_11_14 = games_df[(games_df["Age"] > 10) & (games_df["Age"] <=14 )]

ages_15_18 = games_df[(games_df["Age"] > 14) & (games_df["Age"] <=18 )]

ages_19_22 = games_df[(games_df["Age"] > 18) & (games_df["Age"] <=22 )]

ages_23_26 = games_df[(games_df["Age"] > 22) & (games_df["Age"] <=26 )]

ages_27_30 = games_df[(games_df["Age"] > 26) & (games_df["Age"] <=30 )]

ages_31_34 = games_df[(games_df["Age"] > 30) & (games_df["Age"] <=34 )]

ages_35_38 = games_df[(games_df["Age"] > 34) & (games_df["Age"] <=38 )]

ages_39_42 = games_df[(games_df["Age"] > 38) & (games_df["Age"] <=42 )]

ages_43_45 = games_df[(games_df["Age"] > 42)]

In [38]:
df_list = [ages_10, ages_11_14, ages_15_18, ages_19_22, ages_23_26, ages_27_30, ages_31_34, 
ages_35_38, ages_39_42, ages_43_45]

In [39]:
purchase_count = []

### Purchase Count

In [40]:
for i in df_list:
     purchase_count.append(len(i))

In [41]:
purchase_count = purchase_count[0:10]
purchase_count

[32, 31, 111, 231, 207, 63, 46, 37, 20, 2]

### Average Purchase Price

In [42]:
average_pp = []

In [43]:
for i in df_list:
    average_pp.append(round(i["Price"].mean(), 2))

In [44]:
average_pp

[3.02, 2.7, 2.88, 2.93, 2.94, 2.98, 3.07, 2.81, 3.13, 3.26]

### Total Purchase Value

In [45]:
total_purchase = []

In [46]:
for i in df_list:
    total_purchase.append(round(i["Price"].sum(), 2))

In [47]:
total_purchase

[96.62, 83.79, 319.32, 676.2, 608.02, 187.99, 141.24, 104.06, 62.56, 6.53]

### Normalized Totals

In [48]:
norm = []

In [49]:
 for i in range(len(total_purchase)):
        norm.append(round(total_purchase[i]/purchase_count[i], 2))

In [50]:
norm

[3.02, 2.7, 2.88, 2.93, 2.94, 2.98, 3.07, 2.81, 3.13, 3.27]

In [51]:
pd.DataFrame({"Purchase Count":purchase_count, 
              "Average Purchse Price": average_pp, 
              "Total Purchase Value": total_purchase,
             "Normalized Total": norm }, index = ["<=10", "11-14", "15-18", "19-22", 
                                                  " 23-26", "27-30", "31-34", "35-38", 
                                                  "39-42", "43-45" ] )

,Average Purchse Price,Normalized Total,Purchase Count,Total Purchase Value
<=10,3.02,3.02,32,96.62
11-14,2.70,2.70,31,83.79
15-18,2.88,2.88,111,319.32
19-22,2.93,2.93,231,676.20
23-26,2.94,2.94,207,608.02
27-30,2.98,2.98,63,187.99
31-34,3.07,3.07,46,141.24
35-38,2.81,2.81,37,104.06
39-42,3.13,3.13,20,62.56
43-45,3.26,3.27,2,6.53

# Top Spenders

In [203]:
top_spender_pv = games_df.groupby(['SN']).sum().sort_values(["Price"],ascending = False)[["Price"]]

In [53]:
#pc = pd.DataFrame({"Purchase Count": df})
index = ['Undirrala66','Saedue76','Mindimnya67',"Haellysu29",'Eoda93' ]

In [54]:
top5df = games_df[(games_df["SN"] == "Undirrala66")|(games_df["SN"] == "Saedue76") | 
         (games_df["SN"] == "Mindimnya67")|(games_df["SN"] == "Haellysu29") | 
        (games_df["SN"] == "Eoda93")]

In [80]:
topFive = pd.DataFrame(top5df)
top5df_pct = topFive["SN"].value_counts()
#top5sumdf =  pd.DataFrame(top_spender_pv, index = index)
top5df_pct = pd.DataFrame({"Purchase Count":top5df_pct})

In [202]:
top5avgdf = t5Avg.rename(columns = {"Price":"Average Purchase Price"})

In [76]:
top5sumdf =  pd.DataFrame(top_spender_pv, index = index)

In [201]:
top5sumdf = top5sumdf.rename(columns = {"Price":"Total Purchase Value"})

In [65]:
#top5df_pct = pd.DataFrame({"Purchase Count" : top5df_pct })

In [86]:
NEW_DF = pd.concat([top5avgdf, top5sumdf, top5df_pct ], axis=1 )
NEW_DF.sort_values(by = "Purchase Count", ascending = False)

             Average Purchase Price  Price  Purchase Count
Undirrala66                    3.41  17.06               5
Mindimnya67                    3.18  12.74               4
Saedue76                       3.39  13.56               4
Eoda93                         3.86  11.58               3
Haellysu29                     4.24  12.73               3

# Most Popular Items

In [83]:
games_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [84]:
popItemdf = games_df.loc[:,["Item Name", "Price", "Item ID"]]
popItemdf.head()

                                   Item Name  Price  Item ID
0                Bone Crushing Silver Skewer   3.37      165
1  Stormbringer, Dark Blade of Ending Misery   2.32      119
2                            Primitive Blade   2.46      174
3                               Final Critic   1.36       92
4                             Stormfury Mace   1.27       63

In [89]:
purchase_count = popItemdf.groupby(["Item ID","Item Name"]).count()
purchase_count = purchase_count.rename(columns = {"Price": "Purchase count"})
purchase_count = purchase_count.sort_values(by = "Purchase count", ascending = False)
purchase_count = purchase_count.reset_index().head()

In [90]:
purchase_count

   Item ID                             Item Name  Purchase count
0       39  Betrayal, Whisper of Grieving Widows              11
1       84                            Arcane Gem              11
2       31                             Trickster               9
3      175            Woeful Adamantite Claymore               9
4       13                              Serenity               9

In [91]:
#df_count = games_df["Item Name"].value_counts().head()
df_count = games_df.loc[:,["Item Name", "Price", "Item ID"]]
newdf = pd.DataFrame(df_count)

In [92]:
smalldf = newdf[(newdf["Item Name"] == "Serenity")| (newdf["Item Name"] == "Arcane Gem")|
     (newdf["Item Name"] == "Betrayal, Whisper of Grieving Widows") | 
      (newdf["Item Name"] == "Trickster")|(newdf["Item Name"] == "Woeful Adamantite Claymore")]
smalldf.head()

                               Item Name  Price  Item ID
35                              Serenity   1.49       13
56                             Trickster   2.07       31
61  Betrayal, Whisper of Grieving Widows   2.35       39
62  Betrayal, Whisper of Grieving Widows   2.35       39
66                              Serenity   1.49       13

In [129]:
Total_Purchase_Value =  smalldf.groupby(["Item Name", "Item ID","Price"])["Price"].sum().to_frame()

In [135]:
Total_Purchase_Value = pd.DataFrame({"Total Purchase Value": smalldf.groupby(["Item ID","Item Name", "Price"])["Price"].sum()})

In [139]:
Total_Purchase_Value = Total_Purchase_Value.reset_index()
Total_Purchase_Value

,index,Item ID,Item Name,Price,Total Purchase Value
0,0,13,Serenity,1.49,13.41
1,1,31,Trickster,2.07,18.63
2,2,39,"Betrayal, Whisper of Grieving Widows",2.35,25.85
3,3,84,Arcane Gem,2.23,24.53
4,4,175,Woeful Adamantite Claymore,1.24,11.16

In [137]:
purchase_count

   Item ID                             Item Name  Purchase count
0       39  Betrayal, Whisper of Grieving Widows              11
1       84                            Arcane Gem              11
2       31                             Trickster               9
3      175            Woeful Adamantite Claymore               9
4       13                              Serenity               9

In [142]:
final_df = pd.merge(Total_Purchase_Value,purchase_count, how = "outer", on = "Item Name" )
final_df

,index,Item ID_x,Item Name,Price,Total Purchase Value,Item ID_y,Purchase count
0,0,13,Serenity,1.49,13.41,13,9
1,1,31,Trickster,2.07,18.63,31,9
2,2,39,"Betrayal, Whisper of Grieving Widows",2.35,25.85,39,11
3,3,84,Arcane Gem,2.23,24.53,84,11
4,4,175,Woeful Adamantite Claymore,1.24,11.16,175,9

In [150]:
#del final_df["index"]
del final_df["Item ID_x"]

In [151]:
final_df

,Item Name,Price,Total Purchase Value,Item ID_y,Purchase count
0,Serenity,1.49,13.41,13,9
1,Trickster,2.07,18.63,31,9
2,"Betrayal, Whisper of Grieving Widows",2.35,25.85,39,11
3,Arcane Gem,2.23,24.53,84,11
4,Woeful Adamantite Claymore,1.24,11.16,175,9

# Most Profitable Items

In [200]:
Profitable = games_df[(games_df["Item Name"] == "Retribution Axe") | (games_df["Item Name"] == "Singed Scalpel")
         |(games_df["Item Name"] == "Spectral Diamond Doomblade")| (games_df["Item Name"] == "Orenmir")
         |(games_df["Item Name"] == "Splitter, Foe Of Subtlety")]
         
Profitable["Item Name"].value_counts()

In [196]:
Profitable = games_df[(games_df["Item Name"] == "Retribution Axe") | (games_df["Item Name"] == "Singed Scalpel")
         |(games_df["Item Name"] == "Spectral Diamond Doomblade")| (games_df["Item Name"] == "Orenmir")
         |(games_df["Item Name"] == "Splitter, Foe Of Subtlety")]
         
Profitable_ct = Profitable["Item Name"].value_counts()
Profitable_ct = pd.DataFrame({"Purchase count":Profitable_ct})
Profitable_ct = Profitable_ct.reset_index()

In [197]:
most_profitabel_item = pd.DataFrame({"Purchase Value":Profitable.groupby(["Item ID", "Item Name", "Price"])["Price"].sum().sort_values(ascending = False)})
most_profitabel_item  = most_profitabel_item.reset_index()

In [199]:
Profitable_ct = Profitable_ct.rename(columns = {"index": "Item Name"})

In [194]:
pd.merge(most_profitabel_item, Profitable_ct, on = "Item Name" )

   Item ID                   Item Name  Price  Purchase Value  Purchase count
0       34             Retribution Axe   4.14           37.26               9
1      115  Spectral Diamond Doomblade   4.25           29.75               7
2       32                     Orenmir   4.95           29.70               6
3      103              Singed Scalpel   4.87           29.22               6
4      107   Splitter, Foe Of Subtlety   3.61           28.88               8